IRC {
	channel		"#testkanaal";
	server		"irc.xs4all.nl";
	port		6667;
	nick		"SuikerPot2";
	name		"Suikerpot";
};

SQL {
	driver		"postgres";
	server		"localhost";
	username	"bot";
	password	"";
	database	"pybot";
	table		"channel";
};

messages {
	welcome		"Welkom op #koffie. Als je hier nieuw bent stel jezelf dan even netjes voor. Onthoud: wie hier niet als vriend binnenhuppelt wordt er een twee drie weer uitgeknuppeld!";
};
