body {
	font: 15px/1.75 sans-serif;
	margin: 0 12%;
	padding: 0
}

h1, table {
	border-bottom: 3px solid brown;
}

table {
	border-collapse: collapse;
	width: 100%
}

th, td {
	padding: 0 20px 0 0; 
	text-align: left;
	vertical-align: top;
}

.time {
	color: gray;
	font-size: .75em;
	text-align: right;
	vertical-align: middle;
}

.time, .nick {
	white-space: nowrap;
}

.text {
	word-break: break-word;
}

tr:first-child {
	border-bottom: 1px solid brown;
}

tr {
	border-bottom: 1px solid #eee;
}

a {
	color: #2a66c8;
}
